<div class="row">
    <div class="col-xs-12">
      <img [src]="dalam.imagePath" alt="{{dalam.name}}" class="img-responsive" style="max-height:300px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{dalam.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Film <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit Film</a></li>
        <li><a href="#">Delete Film</a></li>
      </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      tahun
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      genre
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      description
    </div>
  </div>
